body {
    background-color: grey;
    box-sizing: border-box;
    margin: 0 auto;

}
main {
    background: #0f0f0fc7;
    margin:100px 200px;
    border-radius: 10px;
}
.capturing-moment-sec{
    padding: 20px;
    margin: 20px;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 30px;
}
.headerbtn {
border-radius: 50px;
max-width: 1%;
color: whie;
background: rgba(140, 84, 231, 0.902);
}
