.marq-sect{
    background-color: #5E00A6;
    height:6vh;
    width: ;
    align-content: center;
    justify-content: space-between;

}

.marque {
    display: flex;
    align-content: center;
    justify-content: space-between;
    
}
.marque > span {
    text-transform: capitalize;
}