.new-arrival-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marq-sect{
    background-color: #5E00A6;
    height:6vh;
    width: 100%;
    align-content: center;
}
.marque {
    display: flex;
    align-content: center;
    justify-content:space-around ;
}
.marque > span {
    text-transform: capitalize;
    color: white; 
}           
.title1{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-transform: capitalize;
}
.title2 {
    font-size: 3rem;
    color: #5E00A6;
    font-weight: 700;
}
.product-title{
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

.product-card {
    display: flex;
    padding: 10px;
    background: white;
}
.img-sect {
    position: relative;
}

.absolute-container > p{
    /* width: 100%; */
}
.slash {
    position: absolute;
    top: left;
    background: palevioletred;
    padding: 10px;
    width: 5%;
    height: 3vh;
    border: 1px solid transparent;
    border-radius: 40%;
}