
.new-arrival-sect >  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}
.marq-sect {
  background-color: #5e00a6;
  height: 6vh;
  width: 100%;
  align-content: center;
}
.marque {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.marque > span {
  text-transform: capitalize;
  color: white;
  font-size: 1.2rem;
}
.new-arrival{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title1 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-transform: capitalize;
}
.title2 {
  font-size: 3rem;
  color: #5e00a6;
  font-weight: 700;
}
.product-title {
  color: black;
  font-size: 3rem;
  font-weight: 700;
}
.card-sec {
  display: flex;
  gap:20px;
  width: 100%;
}
.new-arrival-product-card {
  border: 2px solid rgb(230, 227, 227);
  padding: 9px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 100%;
}
.product-card {
  display: flex;
  background-color: #ffffff;
  width: 100%;
}
.img-sect {
  position: relative;
  border: 3px solid transparent;
  border-radius: 40px;
  background-color: #f6f6f6;
  width: 100%;
  padding: 9px;
}
.img-sect > img {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 30vh;
}
.absolute-container > p {
  padding: 8px;
  width: 25%;
  border-radius: 20px;
  text-align: center;
}
.slash {
  position: absolute;
  background: #fd93e8;
}

.icons-sec {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.icons {
  padding: 10px;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: white;
}
.text-sect {
  width: 100%;
  padding: 10px;
}
.basket-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-sec > p {
  text-transform: capitalize;
  color: #afafaf;
  font-size: 1.5rem;
}
.rating-sec {
  display: flex;
  gap: 2px;
  font-size: 1.5rem;
}
.fresh-flower-sec > h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
}
.fresh-flower-sec > h2 {
  font-size: 2rem;
  display: flex;
  gap: 20px;
}
.slashed {
  color: #afafaf;
  text-decoration: line-through;
}
.fresh-flower-sec > p {
  font-size: 1.rem;
  color: #9f9f9f;
}
.shop-btn {
  color: #5e00a6;
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 1.5rem;
}
.icons-sec2 {
    display: none;
}

.weekly-deals {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.all-deals{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid brown;
  border-radius: 20px;
  background-color: #5e00a6;
  padding: 0 50px;
  width: 70%;
 
}
.week-text1{
  color: #fd93e8;
  font-size: 2rem;
  text-transform: capitalize;
}
.weekly-text-sec > h2{
font-size: 3rem;
text-transform: capitalize;
width: 60%;
}
.beautiful-flowers {
  color:#fd93e8;
}
.week-text2 {
  color: #CF81F4;
}
.weekly-btn{
   padding: 12px 28px;
   color: #000;
   border: 1px solid transparent;
   border-radius: 30px;
   font-size: 1.5rem;
   text-align: center;
   background-color: #fd93e8;
   font-weight: 500;
}

.weekly-img-sec {
  /* width: 40%; */
  height: 100%;
}
.weekly-img-sec > img {
  width: 30vw;
  height: 50vh;
  
}
